In [34]:
#Step 1. Import the necessary libraries
import numpy as np
import pandas as pd

In [35]:
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called df.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'  
df = pd.read_csv(url, sep = '\t')

In [36]:
#Step 4. Clean the item_price column and transform it in a float
convertFloat = lambda x: float(x[1:])
df['item_price'] = df['item_price'].apply(convertFloat)

print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [37]:
#Step 5. What is the price of each item?
#print a data frame with only two columns item_name and item_price
df_filtered = df.drop_duplicates(['item_name', 'quantity'])
df_filtered['price_per_unit'] = df_filtered['item_price']/df_filtered['quantity']
catalog = df_filtered[['item_name', 'price_per_unit']]
print(catalog.sort_values(by = "price_per_unit", ascending = False))

                                  item_name  price_per_unit
606                        Steak Salad Bowl           11.89
1132                    Carnitas Salad Bowl           11.89
1229                    Barbacoa Salad Bowl           11.89
281                        Steak Salad Bowl           11.89
168                   Barbacoa Crispy Tacos           11.75
39                            Barbacoa Bowl           11.75
7                             Steak Burrito           11.75
3480                          Carnitas Bowl           11.75
506                           Carnitas Bowl           11.75
135                      Chicken Salad Bowl           11.25
62                              Veggie Bowl           11.25
57                           Veggie Burrito           11.25
186                       Veggie Salad Bowl           11.25
3601                         Veggie Burrito           11.25
738                       Veggie Soft Tacos           11.25
250                           Chicken Salad           10.98
5                              Chicken Bowl           10.98
409                            Chicken Bowl           10.98
1255                          Steak Burrito            9.25
554                   Carnitas Crispy Tacos            9.25
8                          Steak Soft Tacos            9.25
237                     Carnitas Soft Tacos            9.25
1903                  Barbacoa Crispy Tacos            9.25
2581                       Carnitas Burrito            9.25
56                      Barbacoa Soft Tacos            9.25
4354                       Steak Soft Tacos            9.25
92                       Steak Crispy Tacos            9.25
664                             Steak Salad            8.99
910                              Steak Bowl            8.99
148                           Steak Burrito            8.99
...                                     ...             ...
111     Chips and Tomatillo Red Chili Salsa            2.95
1555     Chips and Roasted Chili Corn Salsa            2.95
1257           Chips and Fresh Tomato Salsa            2.95
2656  Chips and Tomatillo-Green Chili Salsa            2.39
3     Chips and Tomatillo-Green Chili Salsa            2.39
2972    Chips and Tomatillo-Red Chili Salsa            2.39
191      Chips and Roasted Chili-Corn Salsa            2.39
0              Chips and Fresh Tomato Salsa            2.39
300     Chips and Tomatillo-Red Chili Salsa            2.39
2550    Chips and Tomatillo-Red Chili Salsa            2.39
223                                   Chips            2.15
2936                                  Chips            2.15
40                                    Chips            2.15
2944                          Side of Chips            1.69
6                             Side of Chips            1.69
3887                          Side of Chips            1.69
540                           Bottled Water            1.50
4152                          Bottled Water            1.50
3599                          Bottled Water            1.50
1425                          Bottled Water            1.50
2441                          Bottled Water            1.50
689                       Canned Soft Drink            1.25
263                       Canned Soft Drink            1.25
492                       Canned Soft Drink            1.25
3973                      Canned Soft Drink            1.25
28                              Canned Soda            1.09
18                              Canned Soda            1.09
34                            Bottled Water            1.09
2235                            Canned Soda            1.09
818                           Bottled Water            1.09

[103 rows x 2 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [38]:
#Step 6. Sort by the name of the item
df_filtered['item_name'].sort_values()

298         6 Pack Soft Drink
3389        6 Pack Soft Drink
39              Barbacoa Bowl
21           Barbacoa Burrito
1903    Barbacoa Crispy Tacos
168     Barbacoa Crispy Tacos
1229      Barbacoa Salad Bowl
56        Barbacoa Soft Tacos
2441            Bottled Water
4152            Bottled Water
818             Bottled Water
540             Bottled Water
1425            Bottled Water
3599            Bottled Water
34              Bottled Water
445                      Bowl
673                      Bowl
510                   Burrito
18                Canned Soda
2235              Canned Soda
28                Canned Soda
263         Canned Soft Drink
3973        Canned Soft Drink
492         Canned Soft Drink
689         Canned Soft Drink
33              Carnitas Bowl
3480            Carnitas Bowl
506             Carnitas Bowl
2581         Carnitas Burrito
27           Carnitas Burrito
                ...
520              Crispy Tacos
1                        Izze
2            Nantucket Nectar
601          Nantucket Nectar
1414                    Salad
3887            Side of Chips
6               Side of Chips
2944            Side of Chips
3334               Steak Bowl
910                Steak Bowl
54                 Steak Bowl
1255            Steak Burrito
148             Steak Burrito
7               Steak Burrito
92         Steak Crispy Tacos
2874       Steak Crispy Tacos
664               Steak Salad
606          Steak Salad Bowl
281          Steak Salad Bowl
8            Steak Soft Tacos
4354         Steak Soft Tacos
62                Veggie Bowl
846               Veggie Bowl
57             Veggie Burrito
3601           Veggie Burrito
1653      Veggie Crispy Tacos
1694             Veggie Salad
186         Veggie Salad Bowl
3889        Veggie Soft Tacos
738         Veggie Soft Tacos
Name: item_name, Length: 103, dtype: object

In [39]:
#Step 7. What was the quantity of the most expensive item ordered?
df_filtered.sort_values(by = "price_per_unit", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,price_per_unit
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89,11.89

In [40]:
#Step 8. How many times were a Veggie Salad Bowl ordered?
veggie_salad = df[df['item_name'] == "Veggie Salad Bowl"]
len(veggie_salad)

18

In [33]:
#Step 9. How many times people orderd more than one Canned Soda?
CannedSoda = df[(df['item_name'] == "Canned Soda") & (df['quantity'] > 1)]
print(len(CannedSoda))

20