In [2]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Importing csv file into the program using isnull() and notnull() functions
df = pd.read_csv('ExampleData.csv')
print(df)

  FirstName  LastName   Age  Score
0     Lydia  Stephens  36.0    NaN
1      Owen    Oliver   NaN   42.0
2     Leona   Walters  42.0   79.0
3       NaN   Roberts  34.0   61.0
4      Cora    Adkins   NaN   82.0
5      Lucy       NaN  45.0   77.0
6    Gerald      Paul  29.0   78.0
7    Lester  Holloway  53.0   77.0
8    Helena   Stewart  52.0   94.0
9     Adele    Duncan   NaN   16.0

In [4]:
#Check for Missing Values
df['LastName'].isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: LastName, dtype: bool

In [5]:
checker = df['LastName'].isnull()
flag = False
for x in checker:
    if x == True:
        flag = True
if(flag == True):
    print("Null Values are present in the DataFrame")
else:
    print("Null Values are not present in the DataFrame")

Null Values are present in the DataFrame

In [6]:
# Calculations with Missing Data
# When summing data, NA will be treated as Zero
# If the data are all NA, then the result will be NA
print(df['Age'].sum())

291.0

In [7]:
# Cleaning / Filling Missing Data
# Pandas provides various methods for cleaning the missing values. 
# The fillna function can ”fill in” NA values with non-null data in 
# a couple of ways which we have illustrated in the following sections.

#Method 1: Replace NaN with a Scalar Value
df['Age'] = df['Age'].fillna(0)

#Method 2: Replacing Nan values with the mean of the data
df['Score'] = df['Score'].fillna(df['Score'].mean())

print(df)

  FirstName  LastName   Age      Score
0     Lydia  Stephens  36.0  67.333333
1      Owen    Oliver   0.0  42.000000
2     Leona   Walters  42.0  79.000000
3       NaN   Roberts  34.0  61.000000
4      Cora    Adkins   0.0  82.000000
5      Lucy       NaN  45.0  77.000000
6    Gerald      Paul  29.0  78.000000
7    Lester  Holloway  53.0  77.000000
8    Helena   Stewart  52.0  94.000000
9     Adele    Duncan   0.0  16.000000

In [8]:
# Drop Missing Values
# If you want to simply exclude the missing values, 
# then use the dropna function along with the axis argument. 
# By default, axis=0, i.e., along row, 
# which means that if any value within a row is NA then the whole row is excluded.

df.dropna(axis = 0)

  FirstName  LastName   Age      Score
0     Lydia  Stephens  36.0  67.333333
1      Owen    Oliver   0.0  42.000000
2     Leona   Walters  42.0  79.000000
4      Cora    Adkins   0.0  82.000000
6    Gerald      Paul  29.0  78.000000
7    Lester  Holloway  53.0  77.000000
8    Helena   Stewart  52.0  94.000000
9     Adele    Duncan   0.0  16.000000