In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
#Loading dataset
header = ['id', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']
df = pd.read_csv('tips.csv', names = header)
df.head()

    id  total_bill   tip     sex  smoker  day    time  size
0  NaN  total_bill   tip     sex  smoker  day    time  size
1  0.0       16.99  1.01  Female      No  Sun  Dinner     2
2  1.0       10.34  1.66    Male      No  Sun  Dinner     3
3  2.0       21.01   3.5    Male      No  Sun  Dinner     3
4  3.0       23.68  3.31    Male      No  Sun  Dinner     2