In [6]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
#Loading the dataset
emp = pd.read_csv('employee.csv', sep = '|', index_col = 'user_id')

In [8]:
#Getting to know your data
emp.shape

(943, 4)

In [9]:
emp.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [12]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [13]:
emp.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

# Data preprocessing

Handling missing values:

Let's assume that we have a dataframe with some missing data. 
The easiest idea is to remove rows with missing data, but this is very dangerous because we are removing observations.
Alternative solution is to replace the missing records with the MEAN value of that specific column.
For that we can use Imputer function of scikit-learn library.

class sklearn.preprocessing.Imputer(missing_values=’NaN’, strategy=’mean’, axis=0, verbose=0, copy=True)

The imputation strategy.
    If “mean”, then replace missing values using the mean along the axis.
    If “median”, then replace missing values using the median along the axis.
    If “most_frequent”, then replace missing using the most frequent value along the axis.

To learn

In [15]:

emp.isnull().sum()

age           0
gender        0
occupation    0
zip_code      0
dtype: int64

In [16]:
# Types of data we have to handle: Numerical, Categorical, String
# gender, occupation and zip_code are categorical variables
# To handle categorical variables, we are going to use “LabelEncoder” and “OneHotEncoder” functions from scikit-learn.
#

In [ ]:
from sklearn.