In [52]:
#Importing libraries
import numpy as np
import pandas as pd

In [53]:
#Importing the dataset and assign it to the variable called df(let)
df = pd.read_csv('Restaurant.tsv', sep = '\t')

In [54]:
#See the first 10 rows of the dataset
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [55]:
#Number of observations in the dataset
r, c = df.shape
print("Number of rows: %d" %r)
print("Number of columns: %d" %c)

Number of rows: 4622
Number of columns: 5

In [56]:
#Name and type of columns in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [57]:
#Indexing of dataset
df.index

RangeIndex(start=0, stop=4622, step=1)

In [58]:
#Most ordered item
df['item_name'].mode()

0    Chicken Bowl
dtype: object

In [59]:
#Most ordered item in the choice_description column
df['choice_description'].mode()

0    [Diet Coke]
dtype: object

In [60]:
#Total items ordered
df['quantity'].sum()

4972

In [74]:
#Expensive item
price = df['item_price'].max()
expensive = df[df['item_price'] == price].groupby('item_name').sum()
print(expensive)
print(price)

                     order_id  quantity
item_name
Barbacoa Salad Bowl      4987         5
Carnitas Salad Bowl      1999         2
Steak Salad Bowl        14006        10
$9.39

In [75]:
#Revenue for the period in the dataset
df['item_price'] = df['item_price'].apply(lambda x: float(x[1:]))

In [76]:
revenue = (df['quantity']*df['item_price']).sum()
print('$' + str(round(revenue, 2)))

$39237.02

In [77]:
#Average amount per order
order_count = df['order_id'].value_counts().count()
avg_amt = revenue/order_count
print('$' + str(round(avg_amt, 2)))

$21.39